xXx PARENT=templates/base.html xXx
xXx TITLE xXx
    Blog
xXx TTYL xXx
xXx CONTENT xXx
<div class="blog_container">
    <ul>
    xXx LOOP blog_meta POSTS xXx
        <li>
            <div class="content blog_item">
                <h2 class="post_title"><a href="/xXx blog_meta$link xXx">xXx blog_meta$title xXx</a></h2>
                <p>
                    <span class="author_name">xXx blog_meta$date xXx by xXx blog_meta$author xXx</span>
                    <!-- <span class="comment_count"><a href="/xXx blog_meta$link xXx#disqus_thread">Comments</a></span> -->
                </p>
                xXx blog_meta$preview xXx
                <p>
                    <a href="xXx blog_meta$link xXx">Read the Full Post</a>
                </p>
            </div>
        </li>
    xXx BBL xXx
    </ul>
</div>
xXx TTYL xXx
